doctype html
html
    head 
        title= name      
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")  
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    body
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
            path(fill="#212121" fill-opacity="1" d="M0,288L60,250.7C120,213,240,139,360,138.7C480,139,600,213,720,224C840,235,960,181,1080,160C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z")
        div(class="container")
            a(class="waves-effect waves-light btn pink darken-1") Send 
                i(class="material-icons right") cloud
            a(class="waves-effect waves-light btn teal") Send 
                i(class="material-icons right") cloud
            a(class="waves-effect waves-light btn orange darken-1") Send 
                i(class="material-icons right") cloud

        h1 Hola Mundo 

        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
            path(fill="#212121" fill-opacity="1" d="M0,288L34.3,250.7C68.6,213,137,139,206,122.7C274.3,107,343,149,411,186.7C480,224,549,256,617,240C685.7,224,754,160,823,138.7C891.4,117,960,139,1029,144C1097.1,149,1166,139,1234,133.3C1302.9,128,1371,128,1406,128L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z")
        div(class="second-background")
            div(class="row")
                div(class="col s6 m3")
                    div(class="card blue-grey darken-1")
                        div(class="card-image")
                            img(src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Mallard2.jpg")
                            span(class="card-title") El Pepe
                        div(class="card-content white-text")
                            p Estudiante de ingeniería, Siiiiiiiiiiiiiiuuuuuuuuuu (no acepta que es el bicho)
                        div(class="card-action")
                            a(href="#") Link 1
                            a(href="#") Link 1

        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')