body {
    background-color: rgb(255, 255, 255);
}

.bg-grey {
    background-color: rgb(248, 248, 248);
}

html {
    padding-bottom: 0px !important;
}

h1 {
    display: block; 
    font-size: 9vw;
}

h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif
}

h5 {
    overflow: hidden;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.mt-0 {
    margin-top: 0px;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-25 {
    padding: 25px 0px;
}

.pl-10 {
    padding-left: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-100 {
    padding-top: 100px;
}

.mh-95 {
    height: 95vh;
}

.mt-20 {
    margin-top: 20px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-100 {
    margin-top: 100px;
}

.bottom-page {
    margin-top: 20vh;
}

.second-background {
    background-color: #212121;
}

.display-block {
    display: block;
}

.image-cropper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.img-icon {
    height: 8vw;
    overscroll-behavior: inherit;
    background-size: contain;
}

.logo-config {
    width: 300px;
    margin-top: 80px;
}

.circular {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.with-background {
    background-image: url('https://a-static.besthdwallpaper.com/montana-de-hielo-papel-pintado-3554x1999-3228_53.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.jump {
    transform-origin: 50% 50%;
    animation: jump .9s linear alternate infinite;
}

@keyframes jump {
    0%   {transform: translate3d(0, 0, 0) scale3d(1, 1, 1);}
    40%  {transform: translate3d(0, 25%, 0) scale3d(1, 1.1, 1);}
    100% {transform: translate3d(0, 50%, 0) scale3d(1, .9, 1);}
}